mat-toolbar {
    position: relative;
    z-index: 5;
    background: white;
}

.side-nav-content{
    padding:24px;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}

/* .toolbar-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: relative;
} */

button[mat-icon-button] {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 5;
}

.toolbar-image {
    position: relative;
    margin: 0rem 4vh;
    width: 140px;
    height: auto;
}

.skill-txt {
    position: relative;
    margin: 0rem 15rem;
    width: 140px;
    height: auto;
}