<h1>Add skills!</h1>
<div class="add-skill-container">
  <div class="container">
    <form [formGroup]="skillForm">
        <mat-form-field>
            <mat-label>Select User</mat-label>
            <mat-select formControlName="userName">
            <mat-option *ngFor="let item of userMaster" [value]="item.id">
                {{ item.name }}
            </mat-option>
            </mat-select>
            <mat-error *ngIf="skillForm.get('category')?.invalid && (skillForm.get('category')?.dirty || skillForm.get('category')?.touched)">
            Category is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Skill Category</mat-label>
            <mat-select (selectionChange)="onItemSelected($event)" formControlName="category">
              <mat-option *ngFor="let item of categoryMaster" [value]="item.categoryName">
                {{ item.categoryName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="skillForm.get('category')?.invalid && (skillForm.get('category')?.dirty || skillForm.get('category')?.touched)">
              Category is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Skill</mat-label>
            <mat-select formControlName="skill">
              <mat-option *ngFor="let item of skillSet" [value]="item.skill">
                {{ item.skill }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="skillForm.get('category')?.invalid && (skillForm.get('category')?.dirty || skillForm.get('category')?.touched)">
              Skill is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Product</mat-label>
            <mat-select formControlName="product">
              <mat-option *ngFor="let item of productMasterDtos" [value]="item.productName">
                {{ item.productName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="skillForm.get('category')?.invalid && (skillForm.get('category')?.dirty || skillForm.get('category')?.touched)">
              Product is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Max 50 characters">
            <mat-label>Enter Profeciancy Level</mat-label>
            <!-- <input matInput formControlName="profeciancyName" maxlength="50" placeholder="Ex. Nougat" />
            <mat-hint align="end">{{ skillForm.get('profeciancyName')?.value?.length || 0 }}/50</mat-hint> -->
            <mat-select formControlName="profeciancyName">
              <mat-option *ngFor="let item of proficincy" [value]="item.key">
                {{ item.key }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="skillForm.get('profeciancyName')?.invalid && (skillForm.get('profeciancyName')?.dirty || skillForm.get('profeciancyName')?.touched)">
                Profeciancy is required.
            </mat-error>
        </mat-form-field>
          
        <mat-slide-toggle
            formControlName="certificate"
            class="example-margin"
            [checked]="checked">
            Have Certificate!
        </mat-slide-toggle>

        <mat-slide-toggle
            formControlName="upSkill"
            class="example-margin"
            [checked]="checked">
            Up Skill!
        </mat-slide-toggle>
      <div class="foot-container">
        <button class="container ff" (click)="onSubmit()" mat-button [disabled]="skillForm.invalid" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

<mat-divider></mat-divider>
  <mat-form-field>
    <mat-icon matListItemIcon class="filter-icon">filter_alt</mat-icon>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Category/Skill" #input>
  </mat-form-field>
<mat-divider></mat-divider>
<table mat-table
       [dataSource]="userMaster" multiTemplateDataRows
       class="mat-elevation-z8">
  @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef> {{ userColumnDisplayNames[column] | uppercase }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] | titlecase }} </td>
    </ng-container>
  }
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); populateSkillDetailsOnExpand(element); $event.stopPropagation()">
        @if (expandedElement === element) {
          <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <mat-divider></mat-divider>
        <app-user-skill-details ></app-user-skill-details>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element; populateSkillDetailsOnExpand(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>